# Descriptive Analysis ##2

In [1]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import seaborn as sns

In [3]:
##set a working directory
user = os.path.expanduser('~')
display(user)
os.makedirs(f'{user}/Desktop/thesis/', exist_ok=True)
path = os.chdir(f'{user}/Desktop/'+'thesis/')

'/Users/NatStrom'

In [4]:
data_analysis = pd.read_csv('data_final.csv')

In [5]:
data_analysis

,Unnamed: 0,c_id,year_id,daly_mean_All causes_No access to handwashing facility_btsx_All ages,daly_mean_All causes_Unsafe sanitation_btsx_All ages,daly_mean_All causes_Unsafe water source_btsx_All ages,"daly_mean_Communicable, maternal, neonatal, and nutritional diseases_No access to handwashing facility_btsx_All ages","daly_mean_Communicable, maternal, neonatal, and nutritional diseases_Unsafe sanitation_btsx_All ages","daly_mean_Communicable, maternal, neonatal, and nutritional diseases_Unsafe water source_btsx_All ages",daly_mean_Diarrheal diseases_No access to handwashing facility_btsx_All ages,...,gdis_type,access_drinkwater_index,access_sani_index,uhc_index,uhc_available_score,daly_all,daly_respirat,daly_enteric,daly_diarrheal,daly_cmnn
0,0,56,2000,4537.0,5547.0,7318.0,4537.0,5547.0,7318.0,2797.0,...,NaN,0.0,0.0,29.40808,29.40808,17402.0,3478.0,15662.0,15662.0,17402.0
1,1,56,2000,4537.0,5547.0,7318.0,4537.0,5547.0,7318.0,2797.0,...,NaN,0.0,0.0,29.40808,29.40808,17402.0,3478.0,15662.0,15662.0,17402.0
2,2,56,2000,4537.0,5547.0,7318.0,4537.0,5547.0,7318.0,2797.0,...,NaN,0.0,0.0,29.40808,29.40808,17402.0,3478.0,15662.0,15662.0,17402.0
3,3,56,2000,4537.0,5547.0,7318.0,4537.0,5547.0,7318.0,2797.0,...,NaN,0.0,0.0,29.40808,29.40808,17402.0,3478.0,15662.0,15662.0,17402.0
4,4,56,2000,4537.0,5547.0,7318.0,4537.0,5547.0,7318.0,2797.0,...,NaN,0.0,0.0,29.40808,29.40808,17402.0,3478.0,15662.0,15662.0,17402.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152952,152952,237,2017,1346.0,1631.0,2212.0,1346.0,1631.0,2212.0,865.0,...,NaN,0.0,0.0,54.02236,54.02236,5189.0,962.0,4708.0,4708.0,5189.0
152953,152953,237,2017,1346.0,1631.0,2212.0,1346.0,1631.0,2212.0,865.0,...,NaN,0.0,0.0,54.02236,54.02236,5189.0,962.0,4708.0,4708.0,5189.0
152954,152954,237,2017,1346.0,1631.0,2212.0,1346.0,1631.0,2212.0,865.0,...,NaN,0.0,0.0,54.02236,54.02236,5189.0,962.0,4708.0,4708.0,5189.0
152955,152955,237,2017,1346.0,1631.0,2212.0,1346.0,1631.0,2212.0,865.0,...,NaN,0.0,0.0,54.02236,54.02236,5189.0,962.0,4708.0,4708.0,5189.0
152956,152956,237,2017,1346.0,1631.0,2212.0,1346.0,1631.0,2212.0,865.0,...,NaN,0.0,0.0,54.02236,54.02236,5189.0,962.0,4708.0,4708.0,5189.0

In [6]:
print(data_analysis.dtypes)
print(data_analysis.columns)
print(data_analysis.describe(include='all'))

## sanity check to ensure the spread of the data is correct
print('sanity check 1, ensure appropriate years and countries are represented')
list_country=list(list(data_analysis['c_id'].drop_duplicates()))
list_year=list(list(data_analysis['year_id'].drop_duplicates()))
print('country list', list_country)
print('year list', list_year)
#inspect for NAs
print('following checks for completeness of all columns')
print(data_analysis['c_id'].isnull().values.any())

Unnamed: 0                                                                                                                int64
c_id                                                                                                                      int64
year_id                                                                                                                   int64
daly_mean_All causes_No access to handwashing facility_btsx_All ages                                                    float64
daly_mean_All causes_Unsafe sanitation_btsx_All ages                                                                    float64
daly_mean_All causes_Unsafe water source_btsx_All ages                                                                  float64
daly_mean_Communicable, maternal, neonatal, and nutritional diseases_No access to handwashing facility_btsx_All ages    float64
daly_mean_Communicable, maternal, neonatal, and nutritional diseases_Unsafe sanitation_btsx_All ages                    float64
daly_mean_Communicable, maternal, neonatal, and nutritional diseases_Unsafe water source_btsx_All ages                  float64
daly_mean_Diarrheal diseases_No access to handwashing facility_btsx_All ages                                            float64
daly_mean_Diarrheal diseases_Unsafe sanitation_btsx_All ages                                                            float64
daly_mean_Diarrheal diseases_Unsafe water source_btsx_All ages                                                          float64
daly_mean_Enteric infections_No access to handwashing facility_btsx_All ages                                            float64
daly_mean_Enteric infections_Unsafe sanitation_btsx_All ages                                                            float64
daly_mean_Enteric infections_Unsafe water source_btsx_All ages                                                          float64
daly_mean_Lower respiratory infections_No access to handwashing facility_btsx_All ages                                  float64
daly_mean_Respiratory infections and tuberculosis_No access to handwashing facility_btsx_All ages                       float64
type_of_violence                                                                                                         object
best                                                                                                                    float64
high                                                                                                                    float64
low                                                                                                                     float64
dummy_sb                                                                                                                float64
dummy_ns                                                                                                                float64
dummy_os                                                                                                                float64
intensity                                                                                                                object
dummy_low_intensity                                                                                                     float64
dummy_medium_intensity                                                                                                  float64
dummy_high_intensity                                                                                                    float64
ihme_dah_elim_ch                                                                                                          int64
ihme_dah_prelim_est                                                                                                       int64
ihme_dah_total_aid                                                                                                      float64
ihme_dah_rmh_aid                                                                                                        float64
ihme_dah_nch_aid                                                                                                        float64
ihme_dah_hiv_aid                                                                                                        float64
ihme_dah_mal_aid                                                                                                        float64
ihme_dah_tb_aid                                                                                                         float64
ihme_dah_ncd_aid                                                                                                        float64
ihme_dah_oid_aid                                                                                                        float64
ihme_dah_unalloc_aid                                                                                                    float64
ihme_dah_other_aid                                                                                                      float64
age0014_value                                                                                                           float64
gdp_pcap_value                                                                                                          float64
Expense (% of GDP)                                                                                                      float64
emdat_totl_vn                                                                                                           float64
emdat_totl_dead                                                                                                         float64
emdat_totl_injury                                                                                                         int64
gdis_count                                                                                                              float64
gdis_nunique                                                                                                            float64
gdis_type                                                                                                                object
access_drinkwater_index                                                                                                 float64
access_sani_index                                                                                                       float64
uhc_index                                                                                                               float64
uhc_available_score                                                                                                     float64
daly_all                                                                                                                float64
daly_respirat                                                                                                           float64
daly_enteric                                                                                                            float64
daly_diarrheal                                                                                                          float64
daly_cmnn                                                                                                               float64
dtype: object
Index(['Unnamed: 0', 'c_id', 'year_id',
       'daly_mean_All causes_No access to handwashing facility_btsx_All ages',
       'daly_mean_All causes_Unsafe sanitation_btsx_All ages',
       'daly_mean_All causes_Unsafe water source_btsx_All ages',
       'daly_mean_Communicable, maternal, neonatal, and nutritional diseases_No access to handwashing facility_btsx_All ages',
       'daly_mean_Communicable, maternal, neonatal, and nutritional diseases_Unsafe sanitation_btsx_All ages',
       'daly_mean_Communicable, maternal, neonatal, and nutritional diseases_Unsafe water source_btsx_All ages',
       'daly_mean_Diarrheal diseases_No access to handwashing facility_btsx_All ages',
       'daly_mean_Diarrheal diseases_Unsafe sanitation_btsx_All ages',
       'daly_mean_Diarrheal diseases_Unsafe water source_btsx_All ages',
       'daly_mean_Enteric infections_No access to handwashing facility_btsx_All ages',
       'daly_mean_Enteric infections_Unsafe sanitation_btsx_All ages',
       'daly_mean_Enteric infections_Unsafe water source_btsx_All ages',
       'daly_mean_Lower respiratory infections_No access to handwashing facility_btsx_All ages',
       'daly_mean_Respiratory infections and tuberculosis_No access to handwashing facility_btsx_All ages',
       'type_of_violence', 'best', 'high', 'low', 'dummy_sb', 'dummy_ns',
       'dummy_os', 'intensity', 'dummy_low_intensity',
       'dummy_medium_intensity', 'dummy_high_intensity', 'ihme_dah_elim_ch',
       'ihme_dah_prelim_est', 'ihme_dah_total_aid', 'ihme_dah_rmh_aid',
       'ihme_dah_nch_aid', 'ihme_dah_hiv_aid', 'ihme_dah_mal_aid',
       'ihme_dah_tb_aid', 'ihme_dah_ncd_aid', 'ihme_dah_oid_aid',
       'ihme_dah_unalloc_aid', 'ihme_dah_other_aid', 'age0014_value',
       'gdp_pcap_value', 'Expense (% of GDP)', 'emdat_totl_vn',
       'emdat_totl_dead', 'emdat_totl_injury', 'gdis_count', 'gdis_nunique',
       'gdis_type', 'access_drinkwater_index', 'access_sani_index',
       'uhc_index', 'uhc_available_score', 'daly_all', 'daly_respirat',
       'daly_enteric', 'daly_diarrheal', 'daly_cmnn'],
      dtype='object')
         Unnamed: 0           c_id        year_id  \
count   152957.0000  152957.000000  152957.000000
unique          NaN            NaN            NaN
top             NaN            NaN            NaN
freq            NaN            NaN            NaN
mean     76478.0000     132.717169    2008.842073
std      44155.0269      87.282577       6.160986
min          0.0000      56.000000    2000.000000
25%      38239.0000      57.000000    2005.000000
50%      76478.0000      57.000000    2010.000000
75%     114717.0000     235.000000    2015.000000
max     152956.0000     237.000000    2017.000000

        daly_mean_All causes_No access to handwashing facility_btsx_All ages  \
count                                       152957.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          2798.511843
std                                           1291.047249
min                                           1265.000000
25%                                           1985.000000
50%                                           2253.000000
75%                                           3166.000000
max                                           5781.000000

        daly_mean_All causes_Unsafe sanitation_btsx_All ages  \
count                                       152957.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          3364.465464
std                                           1570.845696
min                                           1073.000000
25%                                           2330.000000
50%                                           2908.000000
75%                                           3949.000000
max                                           7047.000000

        daly_mean_All causes_Unsafe water source_btsx_All ages  \
count                                       152957.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          4398.019881
std                                           2005.556723
min                                           1631.000000
25%                                           3136.000000
50%                                           3883.000000
75%                                           5273.000000
max                                           9236.000000

        daly_mean_Communicable, maternal, neonatal, and nutritional diseases_No access to handwashing facility_btsx_All ages  \
count                                       152957.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          2798.511843
std                                           1291.047249
min                                           1265.000000
25%                                           1985.000000
50%                                           2253.000000
75%                                           3166.000000
max                                           5781.000000

        daly_mean_Communicable, maternal, neonatal, and nutritional diseases_Unsafe sanitation_btsx_All ages  \
count                                       152957.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          3364.465464
std                                           1570.845696
min                                           1073.000000
25%                                           2330.000000
50%                                           2908.000000
75%                                           3949.000000
max                                           7047.000000

        daly_mean_Communicable, maternal, neonatal, and nutritional diseases_Unsafe water source_btsx_All ages  \
count                                       152957.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          4398.019881
std                                           2005.556723
min                                           1631.000000
25%                                           3136.000000
50%                                           3883.000000
75%                                           5273.000000
max                                           9236.000000

        daly_mean_Diarrheal diseases_No access to handwashing facility_btsx_All ages  \
count                                       152957.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          1698.856234
std                                            770.808538
min                                            573.000000
25%                                           1190.000000
50%                                           1517.000000
75%                                           2051.000000
max                                           3507.000000

        ...  gdis_type  access_drinkwater_index  access_sani_index  \
count   ...      73280            152957.000000      152957.000000
unique  ...         77                      NaN                NaN
top     ...    drought                      NaN                NaN
freq    ...      25000                      NaN                NaN
mean    ...        NaN                 5.228855           2.506945
std     ...        NaN                 4.062990           2.909390
min     ...        NaN                 0.000000           0.000000
25%     ...        NaN                 0.000000           0.000000
50%     ...        NaN                 5.076096           2.116907
75%     ...        NaN                 7.775106           4.542423
max     ...        NaN                32.868091          30.366430

            uhc_index  uhc_available_score       daly_all  daly_respirat  \
count   152957.000000        152957.000000  152957.000000  152957.000000
unique            NaN                  NaN            NaN            NaN
top               NaN                  NaN            NaN            NaN
freq              NaN                  NaN            NaN            NaN
mean        32.846753            32.846753   10560.997189    2198.542885
std         11.861883            11.861883    4860.726886    1069.658579
min         15.996400            15.996400    4097.000000     962.000000
25%         21.834980            21.834980    7713.000000    1410.000000
50%         31.471840            31.471840    9044.000000    2112.000000
75%         36.920500            36.920500   12214.000000    2560.000000
max         55.710770            55.710770   21923.000000    4548.000000

         daly_enteric  daly_diarrheal      daly_cmnn
count   152957.000000   152957.000000  152957.000000
unique            NaN             NaN            NaN
top               NaN             NaN            NaN
freq              NaN             NaN            NaN
mean      9461.341580     9461.341580   10560.997189
std       4346.527875     4346.527875    4860.726886
min       3298.000000     3298.000000    4097.000000
25%       6656.000000     6656.000000    7713.000000
50%       8308.000000     8308.000000    9044.000000
75%      11273.000000    11273.000000   12214.000000
max      19649.000000    19649.000000   21923.000000

[11 rows x 58 columns]
sanity check 1, ensure appropriate years and countries are represented
country list [56, 57, 157, 158, 162, 235, 237]
year list [2000, 2005, 2010, 2015, 2017]
following checks for completeness of all columns
False