## GED conflict data clean up

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
##set a working directory
user = os.path.expanduser('~')
display(user)

os.makedirs(f'{user}/Desktop/thesis/', exist_ok=True)
path = os.chdir(f'{user}/Desktop/'+'thesis/')

'/Users/NatStrom'

In [3]:
data = pd.read_csv('GEDEvent_v22_1.csv')

/var/folders/3l/pgxm2f9j3bbgbjcj2pyxl__00000gp/T/ipykernel_23498/2663555733.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('GEDEvent_v22_1.csv')

In [4]:
df = data.copy()

In [5]:
print(df.dtypes)
print(df.columns)
print(df.describe(include='all'))

## sanity check to ensure the spread of the data is correct
print('sanity check 1, ensure appropriate years and countries are represented')
list_country=list(list(df['country_id'].drop_duplicates()))
list_year=list(list(df['year'].drop_duplicates()))
print('country list', list_country)
print('year list', list_year)
#inspect for NAs
print('following checks for completeness of all columns')
print(df['country_id'].isnull().values.any())

id                     int64
relid                 object
year                   int64
active_year            int64
code_status           object
type_of_violence       int64
conflict_dset_id       int64
conflict_new_id        int64
conflict_name         object
dyad_dset_id           int64
dyad_new_id            int64
dyad_name             object
side_a_dset_id         int64
side_a_new_id          int64
side_a                object
side_b_dset_id         int64
side_b_new_id          int64
side_b                object
number_of_sources      int64
source_article        object
source_office         object
source_date           object
source_headline       object
source_original       object
where_prec             int64
where_coordinates     object
where_description     object
adm_1                 object
adm_2                 object
latitude             float64
longitude            float64
geom_wkt              object
priogrid_gid           int64
country               object
country_id             int64
region                object
event_clarity          int64
date_prec              int64
date_start            object
date_end              object
deaths_a               int64
deaths_b               int64
deaths_civilians       int64
deaths_unknown         int64
best                   int64
high                   int64
low                    int64
gwnoa                 object
gwnob                float64
dtype: object
Index(['id', 'relid', 'year', 'active_year', 'code_status', 'type_of_violence',
       'conflict_dset_id', 'conflict_new_id', 'conflict_name', 'dyad_dset_id',
       'dyad_new_id', 'dyad_name', 'side_a_dset_id', 'side_a_new_id', 'side_a',
       'side_b_dset_id', 'side_b_new_id', 'side_b', 'number_of_sources',
       'source_article', 'source_office', 'source_date', 'source_headline',
       'source_original', 'where_prec', 'where_coordinates',
       'where_description', 'adm_1', 'adm_2', 'latitude', 'longitude',
       'geom_wkt', 'priogrid_gid', 'country', 'country_id', 'region',
       'event_clarity', 'date_prec', 'date_start', 'date_end', 'deaths_a',
       'deaths_b', 'deaths_civilians', 'deaths_unknown', 'best', 'high', 'low',
       'gwnoa', 'gwnob'],
      dtype='object')
                   id               relid           year    active_year  \
count   293634.000000              293634  293634.000000  293634.000000
unique            NaN              293634            NaN            NaN
top               NaN  IRQ-2017-1-524-322            NaN            NaN
freq              NaN                   1            NaN            NaN
mean    226230.243218                 NaN    2010.088103       0.966891
std     122696.304726                 NaN       8.670637       0.178922
min          4.000000                 NaN    1989.000000       0.000000
25%     122913.250000                 NaN    2005.000000       1.000000
50%     232281.500000                 NaN    2013.000000       1.000000
75%     330481.750000                 NaN    2016.000000       1.000000
max     433273.000000                 NaN    2021.000000       1.000000

       code_status  type_of_violence  conflict_dset_id  conflict_new_id  \
count       293634     293634.000000     293634.000000    293634.000000
unique           1               NaN               NaN              NaN
top          Clear               NaN               NaN              NaN
freq        293634               NaN               NaN              NaN
mean           NaN          1.423061       2479.062483      2482.903737
std            NaN          0.738703       4796.161161      4672.106848
min            NaN          1.000000          6.000000       205.000000
25%            NaN          1.000000        299.000000       299.000000
50%            NaN          1.000000        333.000000       337.000000
75%            NaN          2.000000        404.000000       522.000000
max            NaN          3.000000      17072.000000     15556.000000

            conflict_name   dyad_dset_id  ...                 date_end  \
count              293634  293634.000000  ...                   293634
unique               1351            NaN  ...                    12047
top     Syria: Government            NaN  ...  2014-08-29 00:00:00.000
freq                64815            NaN  ...                      280
mean                  NaN    5614.451712  ...                      NaN
std                   NaN    6004.909189  ...                      NaN
min                   NaN       6.000000  ...                      NaN
25%                   NaN     735.000000  ...                      NaN
50%                   NaN     835.000000  ...                      NaN
75%                   NaN   11973.000000  ...                      NaN
max                   NaN   17072.000000  ...                      NaN

             deaths_a       deaths_b  deaths_civilians deaths_unknown  \
count   293634.000000  293634.000000     293634.000000  293634.000000
unique            NaN            NaN               NaN            NaN
top               NaN            NaN               NaN            NaN
freq              NaN            NaN               NaN            NaN
mean         1.845559       2.379660          3.719811       1.798950
std         56.758713      30.100399        164.864124     109.582953
min          0.000000       0.000000          0.000000       0.000000
25%          0.000000       0.000000          0.000000       0.000000
50%          0.000000       0.000000          0.000000       0.000000
75%          1.000000       2.000000          1.000000       0.000000
max      14162.000000    9505.000000      40000.000000   48183.000000

                 best           high            low     gwnoa        gwnob
count   293634.000000  293634.000000  293634.000000  230146.0  1459.000000
unique            NaN            NaN            NaN     106.0          NaN
top               NaN            NaN            NaN     652.0          NaN
freq              NaN            NaN            NaN   73213.0          NaN
mean         9.743981      15.087112       8.274410       NaN   728.102125
std        210.898301     337.416675     165.283069       NaN   103.387029
min          0.000000       0.000000       0.000000       NaN     2.000000
25%          1.000000       1.000000       1.000000       NaN   690.000000
50%          2.000000       2.000000       2.000000       NaN   770.000000
75%          5.000000       6.000000       5.000000       NaN   770.000000
max      48183.000000   75000.000000   48183.000000       NaN   800.000000

[11 rows x 49 columns]
sanity check 1, ensure appropriate years and countries are represented
country list [700, 339, 615, 540, 160, 371, 900, 305, 373, 692, 771, 211, 434, 760, 145, 346, 571, 140, 439, 516, 811, 471, 20, 482, 483, 710, 100, 581, 484, 344, 522, 490, 130, 651, 92, 531, 530, 220, 420, 372, 260, 452, 90, 438, 404, 110, 41, 91, 750, 850, 630, 645, 666, 325, 437, 51, 663, 501, 572, 690, 703, 812, 660, 570, 450, 620, 343, 580, 820, 432, 338, 435, 70, 359, 600, 541, 775, 565, 790, 210, 93, 436, 475, 770, 95, 910, 150, 135, 840, 694, 360, 365, 517, 670, 433, 345, 451, 940, 520, 560, 626, 230, 780, 625, 380, 652, 702, 510, 800, 461, 52, 616, 640, 500, 369, 696, 200, 2, 704, 101, 678, 551, 552]
year list [2017, 2021, 1989, 1990, 1991, 1992, 1996, 1993, 1994, 1995, 2002, 2003, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2016, 2004, 2005, 2007, 2015, 2018, 2019, 2020, 1997, 1998, 1999, 2000, 2001]
following checks for completeness of all columns
False

In [6]:
#filter only the wanted columns
df_filtered = df.filter(['id', 'relid', 'year', 'type_of_violence','conflict_new_id','country_id','best', 'high', 'low'])

#df_filtered = 
#add the iso codes

In [7]:
display(df_filtered)

,id,relid,year,type_of_violence,conflict_new_id,country_id,best,high,low
0,244657,IRQ-2017-1-524-322,2017,1,259,700,6,6,6
1,412700,IRQ-2021-1-524-145,2021,1,259,700,183,184,171
2,413023,IRQ-2021-1-524-143,2021,1,259,700,2,3,0
3,412909,IRQ-2021-1-524-144,2021,1,259,700,10,10,9
4,132140,AFG-1989-1-411-2,1989,1,333,700,6,6,6
...,...,...,...,...,...,...,...,...,...
293629,15525,MZM-1989-3-1347-4,1989,3,562,552,9,9,9
293630,15524,MZM-1989-3-1347-16,1989,3,562,552,9,9,9
293631,15245,MZM-1990-3-1347-18,1990,3,562,552,7,7,7
293632,15516,MZM-1990-3-1347-28,1990,3,562,552,1,1,1
293633,15493,MZM-1990-3-1347-29,1990,3,562,552,6,6,6

In [8]:
from ingester3.scratch import cache_manager

cache_manager()

# This will import the Pandas extensions as well as bootstrap the object layer
from ingester3.extensions import *

In [9]:
#create the c_id from the gw codes
#create c_ids
df_filtered = pd.DataFrame.cy.soft_validate_gwcode_year(df_filtered, gw_col='country_id', year_col = 'year', at_month = 12)
inspect=df_filtered.query("valid_id == False")
print('countries with invalid id below')
display(inspect)

df_filtered = pd.DataFrame.c.from_gwcode(df_filtered, gw_col='country_id', month_col=None)

countries with invalid id below

,id,relid,year,type_of_violence,conflict_new_id,country_id,best,high,low,valid_id
138842,16107,SAF-1989-3-560-14,1989,3,477,565,0,300,0,False
138843,17748,SAF-1989-3-560-12,1989,3,477,565,0,27,0,False

In [11]:
df_filtered['Africa'] = df_filtered.c.in_africa

In [12]:
df_filtered = df_filtered.query('Africa == True')

In [13]:
#get the iso numbers
df_filtered['iso'] = df_filtered.c.isoab

In [14]:
inspect = df_filtered.loc[df_filtered.iso.isna()]
display(inspect)

Empty DataFrame
Columns: [id, relid, year, type_of_violence, conflict_new_id, country_id, best, high, low, valid_id, c_id, Africa, iso]
Index: []

In [15]:
df_conflict = df_filtered.copy()

In [16]:
df_conflict = df_conflict.filter(['iso','year','type_of_violence', 'best', 'high', 'low'])
df_conflict

        iso  year  type_of_violence  best  high  low
41447   DZA  1990                 1     1     1    1
41448   DZA  1991                 1     3     3    3
41449   DZA  1991                 1     4     4    4
41450   DZA  1991                 1    10    10   10
41451   DZA  1991                 1    17    17   17
...     ...   ...               ...   ...   ...  ...
293629  ZWE  1989                 3     9     9    9
293630  ZWE  1989                 3     9     9    9
293631  ZWE  1990                 3     7     7    7
293632  ZWE  1990                 3     1     1    1
293633  ZWE  1990                 3     6     6    6

[53989 rows x 6 columns]

In [17]:
#replace row values
df_conflict['type_of_violence'] = df_conflict['type_of_violence'].map({1:'sb',
                                            2:'ns',
                                            3:'os'})

In [18]:
#create dummies
def categorize(row):  
    if row['type_of_violence'] == 'sb':
        return 1
    return 0

df_conflict['dummy_sb'] = df_conflict.apply(lambda row: categorize(row), axis=1)

# repeat for non-state violence
def categorize(row):  
    if row['type_of_violence'] == 'ns':
        return 1
    return 0

df_conflict['dummy_ns'] = df_conflict.apply(lambda row: categorize(row), axis=1)

#repeat dummy creation for one-sided violence
def categorize(row):  
    if row['type_of_violence'] == 'os':
        return 1
    return 0

df_conflict['dummy_os'] = df_conflict.apply(lambda row: categorize(row), axis=1)

In [19]:
#add dummies for the type of violence
df_conflict

,iso,year,type_of_violence,best,high,low,dummy_sb,dummy_ns,dummy_os
41447,DZA,1990,sb,1,1,1,1,0,0
41448,DZA,1991,sb,3,3,3,1,0,0
41449,DZA,1991,sb,4,4,4,1,0,0
41450,DZA,1991,sb,10,10,10,1,0,0
41451,DZA,1991,sb,17,17,17,1,0,0
...,...,...,...,...,...,...,...,...,...
293629,ZWE,1989,os,9,9,9,0,0,1
293630,ZWE,1989,os,9,9,9,0,0,1
293631,ZWE,1990,os,7,7,7,0,0,1
293632,ZWE,1990,os,1,1,1,0,0,1
293633,ZWE,1990,os,6,6,6,0,0,1

In [21]:
#create dummies for intensity
def categorize(row):  
    if row['best'] <= 100:
        return 'low'
    if row['best'] > 100 or row['best'] < 1000:
        return 'medium'
    return 'high'

df_conflict['intensity'] = df_conflict.apply(lambda row: categorize(row), axis=1)
df_conflict

,iso,year,type_of_violence,best,high,low,dummy_sb,dummy_ns,dummy_os,intensity
41447,DZA,1990,sb,1,1,1,1,0,0,low
41448,DZA,1991,sb,3,3,3,1,0,0,low
41449,DZA,1991,sb,4,4,4,1,0,0,low
41450,DZA,1991,sb,10,10,10,1,0,0,low
41451,DZA,1991,sb,17,17,17,1,0,0,low
...,...,...,...,...,...,...,...,...,...,...
293629,ZWE,1989,os,9,9,9,0,0,1,low
293630,ZWE,1989,os,9,9,9,0,0,1,low
293631,ZWE,1990,os,7,7,7,0,0,1,low
293632,ZWE,1990,os,1,1,1,0,0,1,low
293633,ZWE,1990,os,6,6,6,0,0,1,low

In [22]:
# create dummy for low intensity conflict
def categorize(row):  
    if row['intensity'] == 'low':
        return 1
    return 0

df_conflict['dummy_low_intensity'] = df_conflict.apply(lambda row: categorize(row), axis=1)

#repeat dummy creation for medium intensity
def categorize(row):  
    if row['intensity'] == 'middle':
        return 1
    return 0

df_conflict['dummy_medium_intensity'] = df_conflict.apply(lambda row: categorize(row), axis=1)

def categorize(row):  
    if row['intensity'] == 'high':
        return 1
    return 0

df_conflict['dummy_high_intensity'] = df_conflict.apply(lambda row: categorize(row), axis=1)

In [23]:
df_conflict = df_conflict.loc[df_conflict['year'] <= 2019]

In [24]:
df_conflict = df_conflict.loc[df_conflict['year'] >= 1990]

In [25]:
df_conflict

,iso,year,type_of_violence,best,high,low,dummy_sb,dummy_ns,dummy_os,intensity,dummy_low_intensity,dummy_medium_intensity,dummy_high_intensity
41447,DZA,1990,sb,1,1,1,1,0,0,low,1,0,0
41448,DZA,1991,sb,3,3,3,1,0,0,low,1,0,0
41449,DZA,1991,sb,4,4,4,1,0,0,low,1,0,0
41450,DZA,1991,sb,10,10,10,1,0,0,low,1,0,0
41451,DZA,1991,sb,17,17,17,1,0,0,low,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
293626,ZWE,2019,os,1,1,1,0,0,1,low,1,0,0
293627,ZWE,2019,os,2,2,2,0,0,1,low,1,0,0
293631,ZWE,1990,os,7,7,7,0,0,1,low,1,0,0
293632,ZWE,1990,os,1,1,1,0,0,1,low,1,0,0
293633,ZWE,1990,os,6,6,6,0,0,1,low,1,0,0

In [ ]:
df_conflict = df_conflict.groupby(['c_id','year']).reset_index()
df_conflict

In [ ]:
df_conflict.reset_index()

In [26]:
df_conflict.to_csv('df_conflict.csv')